/* Ensure the container takes up the full viewport height */
.search-articles-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent content from overflowing */
}

/* Left side filters container */
.search-filters {
  width: 30%;
  max-width: 350px;
  padding: 20px;
  margin-top:40px;
  background-color: #f0f0f0;
  overflow-y: auto; /* Enable vertical scrolling */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-right: 1px solid #ccc; /* Add a border to distinguish sections */
}

/* Right side results container */
.search-results {
  width: 70%;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Ensure articles results take full height and allow scrolling */
.articles-results {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between articles */
  height: 100%;
  overflow-y: auto;
}

/* Style for individual search result */
.search-result {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.search-result:hover {
  background-color: #f0f0f0;
}

.selected-article {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.back-button {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #cbcbcb;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.error-message {
  color: red;
}
