
.search-articles-container {
  display: flex;
  height: 100vh;
  overflow: hidden; 
}


.search-filters {
  width: 30%;
  max-width: 350px;
  padding: 20px;
  margin-top:40px;
  background-color: #f0f0f0;
  overflow-y: auto; 
  box-sizing: border-box; 
  border-right: 1px solid #ccc; 
}


.search-results {
  width: 70%;
  padding: 20px;
  overflow-y: auto; 
  box-sizing: border-box; 
}


.articles-results {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  height: 100%;
  overflow-y: auto;
}


.search-result {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.search-result:hover {
  background-color: #f0f0f0;
}

.selected-article {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.back-button {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #cbcbcb;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.error-message {
  color: red;
}
