@keyframes roll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -2000px 0; 
    }
  }
  
  .rolling-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/backk.jpeg') repeat-x;
    background-size: cover;
    animation: roll 60s linear infinite;
    z-index: -1; 
  }
  