@keyframes roll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -2000px 0; /* Adjust this value based on the width of your image */
    }
  }
  
  .rolling-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/backk.jpeg') repeat-x; /* Adjust the path to your image */
    background-size: cover;
    animation: roll 60s linear infinite;
    z-index: -1; /* Ensure it stays behind other content */
  }
  